html,
body,
#root {
  height: 100%;
  margin: 0 !important;
  padding: 10px !important;
  overflow: auto;
  text-align: center;
}

#root {
  max-width: unset !important;
}

.card{
  border-color: transparent !important;
  background: linear-gradient(45deg,rgba(173, 216, 230,0.5),rgba(255, 255, 255,0.5));

}
body{
  background: linear-gradient(45deg,lightblue,white);
}

.title-header{
  color:#0daaeb
}

.blue{
  background-color: skyblue;
}

.bc-blue{
  border-color: #0daaeb;
}

input:focus-visible, input:hover{
  outline: #0daaeb !important;
  color: rgb(5, 137, 177);
}